header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  align-items: center;
  border-bottom: 0.4rem solid darkgrey;
}

h1 {
  grid-column: 1 / span 2;
  margin-left: 1rem;
  color: red;
}

nav {
  grid-column: 5 / span 2;
}

nav a {
  text-decoration: none;
  color: grey;
  font-size: 10px;
}
